.pad--active {
  width: 134px;
  border: 1px solid black;
  border-radius: 12px;
  height: 134px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pad {
  width: 134px;
  border: 1px solid black;
  border-radius: 12px;
  height: 134px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.pad--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pad--inner-border {
  display: flex;
  justify-content: center;
  
  border: 1px solid black;
  width: 120px;

  height: 120px;
  background-color: white;


}
